body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left,.right {
    width: 45%;
}

.task {
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
}

.task h3 {
    margin-bottom: 10px;
}

.task p {
    margin-bottom: 20px;
}

.social-media {
    background-color: #f8f8f8;
    padding: 20px;
}

.social-media h3 {
    margin-bottom: 20px;
}

.social-media input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.social-media button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}